code/node_red/NodeRedFlow.json
[
    {
        "id": "6348fda46b259d75",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "331d89dd5433fba2",
        "type": "mqtt in",
        "z": "6348fda46b259d75",
        "name": "",
        "topic": "hydrofarmiot/tds",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "48f56462b14bc242",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "01783efc5ea41bab"
            ]
        ]
    },
    {
        "id": "01783efc5ea41bab",
        "type": "function",
        "z": "6348fda46b259d75",
        "name": "Convert to Number",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "9c3c7a370c12bd9d",
                "512b53ac6b26515f"
            ]
        ]
    },
    {
        "id": "9c3c7a370c12bd9d",
        "type": "ui_gauge",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "5b427c3a6d9d3b6c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TDS (ppm)",
        "label": "ppm",
        "format": "{{value}} ppm",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "70ffb4a0afd39d8b",
        "type": "mqtt in",
        "z": "6348fda46b259d75",
        "name": "",
        "topic": "hydrofarmiot/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "48f56462b14bc242",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a21d89b801bdf5b9"
            ]
        ]
    },
    {
        "id": "a21d89b801bdf5b9",
        "type": "function",
        "z": "6348fda46b259d75",
        "name": "Convert to Number",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "52e61988eecc9313",
                "163968962ad3c6e1"
            ]
        ]
    },
    {
        "id": "52e61988eecc9313",
        "type": "ui_gauge",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "c12667b186d031b0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Temp",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "c3f7c34c2d102406",
        "type": "mqtt in",
        "z": "6348fda46b259d75",
        "name": "",
        "topic": "hydrofarmiot/water-level",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "48f56462b14bc242",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "4b3bb7d4bd410bcc",
                "e69eb309d6e15102"
            ]
        ]
    },
    {
        "id": "4b3bb7d4bd410bcc",
        "type": "ui_gauge",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "8cf0657058fea128",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#f41a1a",
            "#e6e600",
            "#04ff00"
        ],
        "seg1": "25",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "05bdb38a3b6c37c7",
        "type": "mqtt in",
        "z": "6348fda46b259d75",
        "name": "",
        "topic": "hydrofarmiot/ph",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "48f56462b14bc242",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "e0ed7ea31f1b6edd",
                "5438f6fa6a628ec4"
            ]
        ]
    },
    {
        "id": "e0ed7ea31f1b6edd",
        "type": "ui_gauge",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "22654e55321185a5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "512b53ac6b26515f",
        "type": "ui_chart",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "5b427c3a6d9d3b6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "163968962ad3c6e1",
        "type": "ui_chart",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "c12667b186d031b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e69eb309d6e15102",
        "type": "ui_chart",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "8cf0657058fea128",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5438f6fa6a628ec4",
        "type": "ui_chart",
        "z": "6348fda46b259d75",
        "name": "",
        "group": "22654e55321185a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "48f56462b14bc242",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://localhost:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b427c3a6d9d3b6c",
        "type": "ui_group",
        "name": "TDS Sensor",
        "tab": "4d7a7b30db8cbb55",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c12667b186d031b0",
        "type": "ui_group",
        "name": "Water Monitoring",
        "tab": "4d7a7b30db8cbb55",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cf0657058fea128",
        "type": "ui_group",
        "name": "Water Level",
        "tab": "4d7a7b30db8cbb55",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "22654e55321185a5",
        "type": "ui_group",
        "name": "pH Level",
        "tab": "4d7a7b30db8cbb55",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d7a7b30db8cbb55",
        "type": "ui_tab",
        "name": "HydroFarmIOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]